/listr_server/src/main/resources/application.properties
/listr_server/ollama/kb_embeddings.json
/listr_server/ollama/test_lama.py
/listr_server/ollama/test.json
/listr_server/ollama/temp_request.json
.vs/
*.ipch
*.VC.db
*.VC.opendb
